<mat-toolbar color="primary">
    <button mat-button [matMenuTriggerFor]="autores">Autores</button>
    <mat-menu #autores="matMenu">
        <button mat-menu-item (click)="consultarAutores()">Ver autores</button>
        <button mat-menu-item (click)="agregarAutores()">Agregar autor</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="categorias">Categorias</button>
    <mat-menu #categorias="matMenu">
        <button mat-menu-item (click)="consultarCategorias()">Ver categorias</button>
        <button mat-menu-item (click)="agregarCategorias()">Agregar categoria</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="usuarios">Usuarios</button>
    <mat-menu #usuarios="matMenu">
        <button mat-menu-item (click)="consultarUsuarios()">Ver usuarios</button>
        <button mat-menu-item (click)="agregarUsuarios()">Agregar usuario</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="libros">Libros</button>
    <mat-menu #libros="matMenu">
        <button mat-menu-item (click)="consultarLibros()">Ver Libros</button>
        <button mat-menu-item (click)="agregarLibros()">Agregar Libro</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="prestamos">Prestamos</button>
    <mat-menu #prestamos="matMenu">
        <button mat-menu-item (click)="consultarPrestamos()">Ver Prestamos</button>
        <button mat-menu-item (click)="agregarPrestamos()">Agregar Prestamo</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="multas">Multas</button>
    <mat-menu #multas="matMenu">
        <button mat-menu-item (click)="consultarMultas()">Ver multas</button>
        <button mat-menu-item (click)="agregarMulta()">Agregar multa</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="archivos">Archivos</button>
    <mat-menu #archivos="matMenu">
        <button mat-menu-item (click)="consultarArchivos()">Ver Archivos</button>
    </mat-menu>

</mat-toolbar>
