mat-form-field{
    width: 90%;
  }
  
  mat-card{
    width: 400px;
    text-align: center;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }

  button{
    width: 100%;
  }

/* === HEADING STYLE #5 === */
.five h1 {
    text-align: center;
    font-size: 22px;
    font-weight: 700; color:#202020;
    text-transform: uppercase;
    word-spacing: 1px; letter-spacing:2px;
    background-color: transparent;
  }
  .five h1:before {
    position: absolute;
    left: 0;
    bottom: 38px;
    width: 60px;
    height: 4px;
    content: "";
    left: 50%;
    margin-left: -30px;
    background-color: transparent;
  }
  
  